node_modules/
config/config.yaml
config/bot.yaml
config/QQBot.yaml
config/bot.yaml-old
config/QQBot.yaml-old
resources/image
resources/QQBotApi
config/*json
config/markdown.js
plugins/button
/.idea
/src
adapter/Bot/icqqs.js
